<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="wheel_control" params="name">
            <joint name="${name}">
                <command_interface name="velocity">
                    <param name="min">-20</param>
                    <param name="max">20</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
    </xacro:macro>
    <ros2_control name="LeKiwiSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="STS3215_03a-v1_Revolute-45">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a-v1-1_Revolute-49">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a-v1-2_Revolute-51">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a-v1-3_Revolute-53">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a_Wrist_Roll-v1_Revolute-55">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a-v1-4_Revolute-57">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        <xacro:wheel_control name="ST3215_Servo_Motor-v1-2_Revolute-60" />
        <xacro:wheel_control name="ST3215_Servo_Motor-v1-1_Revolute-62" />
        <xacro:wheel_control name="ST3215_Servo_Motor-v1_Revolute-64"/>
    </ros2_control>
    
</robot>